body {
}
#textField {
    border: 1px solid black;
    margin-top: 20px;
}
#txt_area {
    margin: 10px;
} 
#decoration {
    border: 1px solid black;
    margin-top: 20px
}
 .text {
    position: relative;
    font-weight: bold;
    font: 16px arial black;
    z-index: 2;
    margin-top: -18px;
    padding: 5px;
    background-color: white;
    width: 40px;
    margin-left: 10px;
}
#decoration .text {
    width: 100px;
}

#decoration .targ {
    margin: 10px;
}