body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: black;
}
h1 {
    margin:0;
    padding: 18px;
    text-align: center;
    -webkit-text-shadow: 3px 3px #999999;
    -moz-text-shadow: 3px 3px #999999;
    text-shadow: 3px 3px #999999;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header {
    width: 100%;
    background: url('resources/bannerbg.png');
    text-align: center;
}
.content {
    width: 100%;
    height: 100%;
    margin-top: -4px;
    background: url('resources/background.png') center center;
}
.container {
    border: 4px solid gray;
    border-radius: 20px;
    width: 800px;
    margin: 0 auto;
    overflow:hidden;

}
.right-side {
    float: right;
    height: 100%;
    width: 250px;
    background-color: #A2B964;
}
.right-side .overview {
    padding: 10pt;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.right-side .overview dd {
    margin-bottom: 10pt;
}
.main-side {
    height: 100%;
    width: 550px;
}

.container .top-banner {
    width: 100%;
    background: url('resources/rbg.png') repeat;
    display: flex;
}
.container .top-banner span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48pt;
    color: red;
    font-weight: bold;
}
.container .comment-section {
    display: flex;
    flex-wrap: wrap;
}
.container .comment-section .comment {
    width: 46%;
    margin:2%;
}
.container .comment-section .commentator {
    display: flex;
    margin-top: 10px;
}
.container .comment-section .comment-text {

    border: 2px solid gray;
    border-radius: 10px;
    padding: 8px;
    background-color: #E8DC9B;
}
.container .comment-section .comment-text img {
    padding-right: 5px;
}
.container .comment-section .comment q {
    font-size: 8pt;
    font-weight: bold;
}
footer {
    background-color: #A2B964;
    width: 100%;
    position: relative;
    bottom: -1px;
    text-align: center;
}
footer p {
    margin: 0;
}
.validators {
    position: fixed;
    right: 20;
    bottom: 20;
    float:right;
    opacity: 0.5;
}